.header-logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background-image: url('../images/unip-logo.png');
  background-size: auto 100%;
  background-repeat: no-repeat;
}
