@font-face {
  font-family: 'Consolas';
  src: url(../fonts/consola.ttf) format('truetype');
}

#wrapper {
  min-height: 100%;
  height: 100vh;
  position: relative;
}

div.body-content {
  padding-bottom: 6.25rem;
  min-height: 85vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #20232a;
  font-size: 1.125rem;

  .header-logo-wrapper {
    width: 20%;

    img {
      margin-left: 5vw;
      width: 40%;
      height: 20%;
    }
  }

  nav {
    width: 80%;
    display: flex;
    justify-content: left;
    gap: 1rem;

    a {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 5rem;
      text-decoration: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      color: #fff;

      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 0.188rem solid rgb(97, 218, 251);
      }

      &.active {
        color: rgb(97, 218, 251);
        border-bottom: 0.188rem solid rgb(97, 218, 251);
      }
    }
  }
}

.footer {
  background: #20232a;
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 6.25rem;
  // position: absolute;
  bottom: 0;
  left: 0;

  p {
    margin: 0%;
  }
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.main-content {
  background-color: whitesmoke;
}

.aside-content {
  background-color: #282c34;
  text-align: center;

  h2 {
    color: rgb(97, 218, 251);
  }
}

.tree-content {
  background-color: #282c34 !important;
  font-size: 1rem !important;
  color: white !important;
}

#open-drawer-icon {
  padding-right: 1rem;

  svg {
    height: 2.188rem;
    width: 2.188rem;
    color: white;

    &:hover {
      color: rgb(97, 218, 251);
    }
  }
}

.site-content-wrapper {
  margin-top: 2rem;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3rem;
  }
}

.site-content {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;

  p {
    font-family: Arial;
    font-size: 1.313rem; /* 21 pixels */
  }
}

.site-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logic-gate-symbol-image {
  width: 40%;
}

.flex-center-column {
  .ant-table-wrapper {
    width: 50%;
  }
}

.logic-expression {
  font-size: 1.5rem;
}

.circuit-frame {
  height: 40rem;
  width: 70rem;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}
.foo {
  border-color: black !important;
}
.ant-table-cell {
  font-size: 1.313rem;
}

.ant-table-container,
.ant-table-cell,
table {
  border-color: black !important;
}

.truth-table-row,
.ascii-table-row {
  font-family: 'Consolas', monospace;
}
