.default-layout-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #20232a;
  font-size: 1.125rem;

  .header-logo-wrapper {
    width: 20%;

    img {
      margin-left: 5vw;
      width: 40%;
      height: 20%;
    }
  }

  nav {
    width: 80%;
    display: flex;
    justify-content: left;
    gap: 1rem;

    a {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 5rem;
      text-decoration: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      color: #fff;

      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 3px solid #3f704d;
      }

      &.active {
        color: #3f704d;
      }
    }
  }
}
