@font-face {
  font-family: 'Consolas';
  src: url(../fonts/consola.ttf) format('truetype');
}

@font-face {
  font-family: 'Joystix';
  src: url(../fonts/joystix-monospace.ttf) format('truetype');
}

@font-face {
  font-family: 'Arial';
  src: url(../fonts/arial.ttf) format('truetype');
}

#wrapper {
  min-height: 100%;
  height: 100vh;
  position: relative;
}

div.body-content {
  padding-bottom: 6.25rem;
  min-height: 85vh;
}

.header {
  display: flex;
  align-items: center;
  background-color: #20232a;
  font-size: 1.125rem;

  .header-logo-wrapper {
    width: 20%;

    img {
      margin-left: 5vw;
      width: 10rem;
      // height: 20%;
    }
  }

  nav {
    width: 80%;
    display: flex;
    justify-content: left;
    gap: 1rem;

    a {
      padding-left: 2rem;
      padding-right: 2rem;
      height: 5rem;
      text-decoration: none;
      cursor: pointer;

      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      color: #fff;

      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;

      &:hover {
        border-bottom: 0.188rem solid rgb(97, 218, 251);
      }

      &.active {
        color: rgb(97, 218, 251);
        border-bottom: 0.188rem solid rgb(97, 218, 251);
      }
    }
  }
}

.footer {
  background: #20232a;
  color: white;
  font-size: 1rem;
  width: 100%;
  height: 6.25rem;
  // position: absolute;
  bottom: 0;
  left: 0;

  p {
    margin: 0%;
  }
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
}

.main-content {
  background-color: whitesmoke;
}

.aside-content {
  background-color: #282c34;
  text-align: center;

  h2 {
    color: rgb(97, 218, 251);
  }
}

.tree-content {
  background-color: #282c34 !important;
  font-size: 1rem !important;
  color: white !important;
}

#open-drawer-icon {
  padding-right: 1rem;
  cursor: pointer;

  svg {
    height: 2.188rem;
    width: 2.188rem;
    color: white;

    &:hover {
      color: rgb(97, 218, 251);
    }
  }
}

.site-content-wrapper {
  margin-top: 2rem;

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 3rem;
  }

  h2 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.site-content {
  margin-left: 3rem;
  margin-right: 3rem;
  text-align: justify;

  p,
  li,
  a {
    font-family: 'Arial', Arial, Helvetica, sans-serif;
    font-size: 1.313rem; /* 21 pixels */
  }
}

.site-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.site-figure {
  text-align: center;
}

.logic-gate-symbol-image {
  width: 40%;
}

.flex-center-column {
  .ant-table-wrapper {
    width: 50%;
  }
}

.logic-expression {
  font-size: 1.5rem;
}

.circuit-frame {
  height: 40rem;
  width: 70rem;
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.underline-text {
  text-decoration: underline;
}

.center-text {
  text-align: center;
}

.ant-table-cell,
.ant-list-item.page-list {
  font-size: 1.313rem;
}

.ant-table-container,
.ant-table-cell,
table {
  border-color: black !important;
}

.truth-table-row,
.ascii-table-row,
.monospaced-snippet {
  font-family: 'Consolas', monospace;
}

.ascii-table-decimal-column {
  color: rgb(0, 0, 156);
}

.ascii-table-hexadecimal-column {
  color: rgb(107, 0, 0);
}

.ascii-table-binary-column {
  color: green;
}

.ascii-table-octal-column {
  color: rgb(95, 1, 95);
}

.ascii-table-character-column {
  color: rgb(17, 139, 177);
}

.homepage {
  h2 {
    text-align: center;
    font-size: 2.5rem;
  }
}

.first-fraction {
  background-image: url('../images/board-tracks.gif');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 20rem;

  h1 {
    color: #61dafb;
    text-align: center;
    font-size: 4em;
    font-style: italic;
    font-family: 'Joystix', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
  }

  h3 {
    color: white;
    font-weight: 900 !important;
    text-align: center;
    font-weight: normal;
    font-size: 2rem;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    margin-top: -1.5rem;
  }

  span {
    background-color: #282c34;
    border-radius: 1rem;
  }

  h1 span,
  h3 span {
    box-shadow: 10px 0 0px 0px #282c34, -10px 0 0px 0px #282c34;
  }
}

.homepage-grid-wrapper {
  padding: 3rem;
}

.grid-container-homepage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  width: 90vw;
}

.grid-container-homepage-item {
  height: 35rem;

  h4 {
    font-size: 1.7rem;
  }
}

.grid-container-homepage-item-icon {
  width: 100%;
}

.grid-container-homepage-item-icon-wrapper {
  width: 20rem;
  height: 20rem;
  padding: 2rem;
}

.grid-container-homepage-item-text-wrapper {
  width: 70%;

  p {
    text-align: justify;
    font-size: 1.188rem;
  }
}

.eight-bit-computer-image {
  img {
    width: 60%;
  }
}

.assembly-funny {
  width: 40%;
}

.space-around {
  padding: 4rem;
}

.book-icon {
  height: 2.188rem;
  width: 2.188rem;
}

.page-list {
  font-size: 1.313rem;
  cursor: pointer;

  &:hover {
    color: blue;
  }
}

.horizontal-space-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.horizontal-space-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.page-information {
  .card-information {
    width: 40rem;
    border-radius: 1rem;
    border-color: rgb(168, 168, 168);
  }

  padding-left: 4rem;
}

.large-image {
  width: 70vw;
}

.medium-image {
  width: 40vw;
}

.small-image {
  width: 20vw;
}

.ant-table-wrapper.versioning-table {
  width: 80vw;
}

.icon-and-text {
  display: inline-flex;
  align-items: center;
}

.card-rounded-border {
  border: 0.063rem solid rgb(53, 53, 53);
  border-radius: 1rem;
}

#contact-card {
  padding-right: 2rem;

  address {
    margin-bottom: 0rem;
  }

  img {
    width: 8vw;
  }
}

.github-logo {
  width: 10vw;
  animation: github-logo-spin infinite 10s linear;
}

@keyframes github-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.manual-page {
  border-radius: 0.7rem;
  -moz-box-shadow: 0 0 2rem rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 2rem rgb(0, 0, 0);
  box-shadow: 0 0 2rem rgb(0, 0, 0);
}
